body {
    font-family: Arial, sans-serif;
    margin:15px  0;
    text-align: center;
    background-color: #f4f6ff;
}

header {
    background-color:yellow;
    color: black;
    padding: 30px;
    border-radius:20px;
    padding: 50px;
    width: 100%;
}



.plus {
    cursor: pointer;
    color: #4e73df;
    font-size: 22px;
    margin-left: 20px;
}

#inputBox {
    margin: 15px 0;
}

#skillList div {
    background-color: blue;
    color: yellow;
    display: inline-block;
    padding: 8px 15px;
    margin: 8px;
    border-radius: 20px;
    cursor: pointer;
}

.card {
    background: yellow;
    padding: 50px;
    margin: 20px auto;
    width: 100%;
    border-radius:30px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
.edu{
background: yellow;
    padding: 50px;
    margin: 20px auto;
    width: 100%;
    border-radius:20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
footer {
    background-color: #222;
    color: white;
    padding: 50px;
    width: 100%;
    border-radius:20px;
    box-shadow: 0px 5px 10px rgba(0,0,0,0.1);
}
